<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://facebook.com/">facebook</a>
  This project is about all community in Ireland.
  with <a href="http://twitter.com/">Twitter</a>. To found
  about the community in Ireland.
</p>

