<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  To get help how to use the social community application.
  <a href="http://facebook.com/help">to found out more about the social app</a>.
  
  <a href="http://facebook.com">to found out more</a>.
</p>

