<footer class="footer">
  <small>
    <a href="http://facebook.com/">Social Community Network</a>
    by Laurence Malonga
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'static_pages/about' %></li>
      <li><%= link_to "Contact", 'static_pages/contact' %></li>
      <li><%= link_to "Help", 'static_pages/help' %></li>
      <li><a href="http://twitter.com/">News</a></li>
    </ul>
  </nav>
</footer>
